body{
    font-family: "Tahoma";
    font-style: italic;
    font-size: 2vh;
}
button{
    height: 3vh;
    width: 10vw;
}
select{
    width: 15vw;
    font-size: 2vh;
}
#list, #tab{
    display: none;
}
input{
    height: 2vh;
}