body{
    font-family: "Tahoma";
    font-style: italic;
    font-size: 2vh;
}
button{
    height: 3vh;
    width: 10vw;
}
select{
    width: 15vw;
    font-size: 2vh;
}
input{
    height: 2.5vh;
    width: 20vw;
}
button{
    position: absolute;
}
p{
    border: 3px solid green;
}
dialog{
    width: 50vw;
}