html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




body{
    display: grid;
    grid-template-rows: 90vh 10vh;
}
.top{
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
}
.center{
    display: grid;
    grid-template-rows: 10%;
}
.header{
    background: rgb(255, 146, 146);
}
.content{
    display: grid;
    background: rgb(180, 255, 137);
}
.leftNav{
    background: rgb(255, 233, 137);
}
.rightNav{
    background: rgb(255, 233, 137);
}
.bottom{
    background: rgb(137, 198, 255);
}