html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




body{
    position: relative;
}

input{
    width: 23vw;
    height: 10vh;
}

div{
    position: absolute;
    width: 50vw;
    height: 30vh;
}
.d1{
    left: 10vw;
    background-color: rgb(200, 255, 168);
    top: 70vh;
    opacity: 0.3;
}
.d2{
    left: 20vw;
    background-color: rgb(168, 177, 255);
    top: 50vh;
    opacity: 0.3;
}
.d3{
    left: 30vw;
    background-color: rgb(255, 225, 168);
    top: 30vh;
    opacity: 0.3;
}
.d4{
    left: 40vw;
    opacity: 0.3;
    background-color: rgb(255, 168, 251);
}


.i1:checked + .d1{
    z-index: 13;
    opacity: 1;
    transition: opacity 1s;
}
.i2:checked + .d2{
    z-index: 12;
    opacity: 1;
    transition: opacity 1s;
}
.i3:checked + .d3{
    z-index: 11;
    opacity: 1;
    transition: opacity 1s;
}
.i4:checked + .d4{
    z-index: 10;
    opacity: 1;
    transition: opacity 1s;
}