body{
    font-family: "Tahoma";
    font-style: italic;
    font-size: 2vh;
}
select{
    height: 3vh;
    width: 3vw;
}
button{
    height: 3vh;
    width: 10vw;
}
input{
    height: 2.45vh;
    width: 15vw;
}
li{
    cursor: pointer;
    color: inherit;
    background-color: #fff;
}
img{
    width: 20vw;
    margin-left: 8vw;
}
div{
    margin-top: 10vh;
}