body{
    font-family: "Tahoma";
    font-style: italic;
    font-size: 3vh;
}
select{
    height: 3vh;
    width: 3vw;
}
button{
    height: 3vh;
    width: 10vw;
}
input{
    height: 2.45vh;
    width: 13vw;
}
td{
    border: 1px solid black;
    width: 20vw;
}